<!--The content below is only a placeholder and can be replaced.-->
      <mdb-navbar id="nav" SideClass="navbar navbar-expand-lg navbar-dark indigo" #navigationBar>
        <!-- Navbar brand -->
        <mdb-navbar-brand>
          <a mdbBtn (click)="onClickBackNavigation()" size="sm" mdbWavesEffect>
            <mdb-icon fas class="fa fa-lg" icon="arrow-left"></mdb-icon>
          </a>
          <a class="navbar-brand ml-3" href="#">Samsung SSC</a>
        </mdb-navbar-brand>

        <!-- Collapsible content -->
        <links>

          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" (click)="onClickCheckOut()" mdbWavesEffect>Scan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect>Submit Reservation</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                mdbWavesEffect>
                Basic dropdown<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
                <div class="divider dropdown-divider"></div>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
              </div>
            </li>

          </ul>
          <!-- Links -->

          <!-- Search form -->
          <form class="form-inline waves-light" mdbWavesEffect>
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
            </div>
          </form>
        </links>
        <!-- Collapsible content -->
      </mdb-navbar>

<app-qrscanner id="qrScanner" class="container-fluid" (registerAsTokenBearer)="registerTokenBearer($event)"
  (passToken)="passToken($event)" [registryCopy]="registryCopy"></app-qrscanner>
<app-check-out-form id="checkOutForm" (registerAsTokenBearer)="registerTokenBearer($event)"
  (passToken)="passToken($event)" [registryCopy]="registryCopy"></app-check-out-form>